{% load static %}
<html>
    <style>li {
        list-style-type: none;
        color: green;
    }
    .container-top{display: flex;
                    justify-content: space-between;}
    h1 {
        color: black;
    }
    
    * {padding: 0;
        margin: 0;
    }
    
    #bg {
        z-index: -1;
        position:absolute;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
    }
    .container{padding: 50px;}</style>
<body>
<img src='{% static "polls/image/background2.jpg" %}' alt="background image" id="bg" >
<div class="container">
<h2>Login</h2>
<form method='POST'>
    {% csrf_token %}
    {{ form.as_p }}
    <p>
    <button type="submit">Login</button>
    <button type="button" onclick="location.href='{% url 'signup' %}'">Signup</button>
    <button type="button" onclick="location.href='{% url 'polls:index' %}'">Back to polls</button>
    </p>
    <input type="hidden" name="next" value="{{next}}"/>
</form>
{# if you have written a password_reset template, then add here #}
</div>