{% load static %}
<style>li {
    list-style-type: none;
    color: green;
}
.container-top{display: flex;
    justify-content: space-between;}
    h1 {
        color: black;
    }
    
    * {padding: 0;
        margin: 0;
    }
    
    #bg {
        z-index: -1;
        position:absolute;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
    }
    .container{padding: 50px;}</style>
<img src='{% static "polls/image/background2.jpg" %}' alt="background image" id="bg" >
<div class="container">
    <h2>Register</h2>
    <form method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
    <tr>
    <td colspan="2">
    <button type="submit">Register</button>
    <button type="button" onclick="location.href='{% url 'polls:index' %}'">Back to polls</button>
    </td>
    </tr>
    </table>
</form>
</div>